.App {
    text-align: center;
    width: 600px;
    margin: 20px auto;
}


.link {
    text-decoration: none;
}

.active {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
}

